* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.groups {
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
.groups .group:hover {
    background-color: #f8f9fa;
}
.groups .group {
    padding: 15px;
    transition: 0.5s ease-in-out;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
.groups .group a {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    text-decoration: none;
    color: #000000;
}
.groups .group img {
    border-radius: 50%;
    margin-right: 10px;
}
.modal-wrapper-group {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    background-color: #fff;
    position: absolute;
    bottom: -130px;
    width: 100%;
    left: 0;
    z-index: 9999;
    padding: 15px;
}
.modal-wrapper-group .wrapper-image {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.modal-wrapper-group .description {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.modal-wrapper-group .description h4 {
    margin-bottom: 15px;
    text-align: center;
}
.modal-wrapper-group .description a {
    font-family: sans-serif;
    font-weight: 500;
    background-color: #0099CC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
    font-size: 14px;
}
.modal-wrapper-group .description .quit-group {
    font-family: sans-serif;
    font-size: 14px;
    border: none;
    height: 30px;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    font-weight: 500;
    background-color: #ff3547;
    cursor: pointer;
}